:root {
  font-family:
    'Times New Roman', Times, serif
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
