.stickyBox {
  display: grid;
  align-items: start;
}

.Sidebar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 8fr;
  min-height: 100vh;
  border-right: black solid 1px;
}

.sidebar-header {
  width: 90%;
  margin-left: 8px;
}

.entryPages {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 1px solid black;
}

form {
  padding-left: 8px;
}

.tabs {
  display: flex;
  justify-content: end;
  position: relative;
  top: 60px;
}

.tab {
  appearance: none;
  -webkit-appearance: none;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  writing-mode: sideways-lr;
  display: block;
  padding: 10px;
  border: black solid 1px;
  background-color: rgb(244, 244, 244);
  border-radius: 8px 0 0 8px;
}

.tab.active {
  font-weight: 600;
  background-color: rgb(244, 244, 244);
  border-right: 1px solid rgb(244, 244, 244);
  right: -1px;
}

.demoControl {
  margin: 9px;
}

.demo {
  margin-right: 10px;
}

.duties,
.skills {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  margin-bottom: 10px;
}

.skillLine,
.dutyLine {
  display: flex;
  align-items: center;
}

.skill,
.duty {
  flex-grow: 1;
  margin-right: 8px;
}

.addSkill,
.addDuty {
  margin-right: 15px;
}

.deleteSkill,
.deleteDuty {
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}
